<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"async></script>
    <title>Contactos</title>
</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Catálogo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/car">Carrito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contactos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/offerts">Ofertas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">Novedades</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorias
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/man">Hombres</a></li>
                                <li><a class="dropdown-item" href="/women">Mujeres</a></li>
                                <li><a class="dropdown-item" href="/children">Niños</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="container mt-4 mb-4">
           <p class="text-center mt-5 mb-auto">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Ipsum, aut? Voluptas voluptate eum quod corporis amet repellat 
            reiciendis voluptates unde quis veritatis neque accusamus qui illo, 
            necessitatibus quisquam laudantium! Porro!
            <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Ullam earum illo quasi. Animi rem ipsam soluta veniam? Esse 
            veniam a quaerat dolore reprehenderit! Modi inventore, voluptas 
            nulla voluptatibus officia soluta.
            <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Ullam earum illo quasi. Animi rem ipsam soluta veniam? Esse
            veniam a quaerat dolore reprehenderit! Modi inventore, voluptas
            nulla voluptatibus officia soluta.
           </p>

           <div class="d-flex flex-column align-items-start mt-3 mb-1">
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
           </div>
           
        </section>
     
      

    </main>
</body>

</html>