<!DOCtype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"
        async></script>
    <style>
        .payment-container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .card-visa {
            background-color: #c07803;
        }

        .card-euro {
            background-color: #0d9be8;
        }
    </style>
    <title>Pagos</title>
</head>

<body>
    <main>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Maikel Barrios Insua</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Tienda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/car">Carrito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contactos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/offerts">Ofertas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/news">Novedades</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Categorias
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/man">Hombres</a></li>
                                <li><a class="dropdown-item" href="/women">Mujeres</a></li>
                                <li><a class="dropdown-item" href="/children">Niños</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container payment-container">
            <div class="text-center mb-4">
                <h2>Liberbank</h2>
                <h4>Confirmación del pago</h4>
            </div>
            <form action="https://pgw.ceca.es/tpvweb/tpv/compra.action" method="post"
                enctype="application/x-www-form-urlencoded">
                <div class="form-group d-flex flex-column" id="hiddenIpunts">
                    <input name="MerchantID" type=hidden value="082108630">
                    <input name="AcquirerBIN" type=hidden value="0000554002">
                    <input name="TerminalID" type=hidden value="00000003">
                    <input name="URL_OK" type=hidden value="https://edugo-unir.onrender.com">
                    <input name="URL_NOK" type=hidden value="https://edugo-unir.onrender.com/car">
                    <input name="Firma" type=hidden value="" id="sign" >
                    <input name="Cifrado" type=hidden value="SHA2">
                    <input name="TipoMoneda" type=hidden value="978" id="metaEx">
                    <input name="Exponente" type=hidden value="2">
                    <input name="Pago_soportado" type=hidden value="SSL">
                    <input name="Idioma" type="hidden" value="1">
                </div>

                <div class="d-flex flex-column gap-3 flex-lg-row  justify-content-between align-top">
                    <div style="width: 50%;">
                        <label for="exchange">Tipo de moneda</label>
                        <select class="form-control" id="exchange">
                            <option>USD</option>
                            <option>EURO</option>
                        </select>
                        <label for="total">Cantidad</label>
                        <input class="form-control" value="{{ .Amount }}" id="total" readonly>
                        <label for="product mt-2">Producto</label>
                        <div style="height: 50%;" id="product">
                            <img src="{{.Img}}"  alt="no image" class="img-fluid img-thumbnail rounded">
                        </div>
                    </div>

                    <div style="min-width: 50%;">
                        <div class="form-group">
                            <label for="operationNumber">Número de operación</label>
                            <input type="text" class="form-control" name="Num_operacion" id="operationNumber"
                                value="prueba" readonly>
                        </div>

                        <div class="form-group">
                            <label for="amount">Importe</label>
                            <input type="text" class="form-control" name="Importe" id="amount" value="{{.PriceUSD}}"
                                readonly>
                            <input type="number" hidden value="{{.PriceEUR}}" id="PriceEUR">
                            <input type="number" hidden value="{{.PriceUSD}}" id="PriceUSD">
                        </div>

                        <div class="form-group">
                            <label for="cardNumber">Tarjeta</label>
                            <input type="text" class="form-control" id="cardNumber" placeholder="Número de tarjeta"
                                pattern="[0-9]{14,16}" value="" name="PAN" required>
                        </div>

                        <div class="form-group">
                            <label for="expiryDate">Fecha caducidad (MM/AAAA)</label>
                            <input type="text" class="form-control" id="expiryDate" name="Caducidad"
                                placeholder="MM/YYYY" required pattern="[0-9]{2}/[0-9]{4}" title="Formato MM/YYYY">
                        </div>

                        <div class="form-group">
                            <label for="securityCode">Código seguridad</label>
                            <input type="text" class="form-control" id="securityCode" name="CVV2" placeholder="CVV"
                                pattern="[0-9]{3,4}"
                                required>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="form-group mt-3 d-flex justify-content-between px-1">
                    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Pagar</button>
                </div>
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            "use strict"

            const cryKey = "87401456"
            const MerchantID = "082108630"
            const AcquirerBIN = "0000554002"
            const TerminalID = "00000003"
            const NumOp = "prueba"
            let exEx = 0
            const Exponente = 2
            const Cifrado = "SHA2"
            const URL_NOK = "https://edugo-unir.onrender.com/car"
            const URL_OK = "https://edugo-unir.onrender.com"

            const handleCrySHA256 = async (impor) => {
                const encoder = new TextEncoder()
                const data = encoder.encode(`${cryKey}${MerchantID}${AcquirerBIN}${TerminalID}${NumOp}${impor}${exEx}${Exponente}${Cifrado}${URL_OK}${URL_NOK}`)
                const hashbuffer = await crypto.subtle.digest("SHA-256", data)
                const hashArray = Array.from(new Uint8Array(hashbuffer))
                const hashHex = hashArray.map(b => b.toString(16).padStart(2,'0')).join('')
                return hashHex
            }

            const handlerCurrencyChange = async () => {
                const amount = document.getElementById("amount")
                const exchange = document.getElementById("exchange").value
                const tp = exchange == "EURO" ? document.getElementById("PriceEUR").value : document.getElementById("PriceUSD").value
                amount.value = tp
                exchange === "EURO" ? (document.getElementById("metaEx").value = 978, exEx = 978) : (document.getElementById("metaEx").value = 840, exEx = 840)

                document.getElementById("sign").value = await handleCrySHA256(tp)

            }
            document.getElementById("exchange").addEventListener("change", handlerCurrencyChange)

        </script>

    </main>

</body>

</html>